{% extends "event/base.html" %} {% load crispy_forms_tags %} {% block content %}
<h1>Users:</h1>

{% for u in page_obj %}
<article class="media content-section">
    <div class="article-metadata" style="color: black !important;">
        <div style="color: black !important;">
            <b>Username:</b> {{u.username}}<br />
            <b>First name:</b> {{u.first_name}}<br />
            <b>Last name:</b> {{u.last_name}}<br />
            <b>Email:</b> {{u.email}}<br />
            <b>Is active:</b> {{u.is_active}}
        </div>
    </div>
</article>
{% endfor %}
<div class="pagination" style="justify-content: center; padding-bottom: 5em;">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}