{% extends "event/base.html" %}
{% block content %}
{% if cancelled_event %}
<div class="article-metadata" style="color: red !important;">
    <div style="color: red !important; font-weight: bold;">This event is cancelled.</div>
</div>
{% else %}
<h1>{{event.title}}</h1>
<p class="" style="font-size: small;">Event ID: {{ event.id }}</p>
<p class="" style="font-size: larger;">
    <b>Description:</b><br />
    {{ event.description }}
</p>
<p class="article-content">
    <b>Date range:</b> {{ event.start_date }} - {{ event.end_date }}
</p>
<p class="article-content"><b>Capacity:</b> {{ registered_users }} / {{ event.capacity }}</p>
<p class="article-content"><b>Place:</b> {{ event.place }}</p>
<div style="color: black !important; font-weight: bold;">Announcements:</div>
{% if announcements|length > 0 %}
{% for u in announcements %}
{% if u.EventId == event.id %}
<div class="article-metadata" style="color: green !important;"> {{ u.announcement }}
    <span style="color: black !important; font-size: small;">{{ u.create_date }}</span>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="article-metadata">
    No announcements
</div>
{% endif %}
{% endif %}
{% endblock content %}